<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>TradeMachine Market Simulation</title>
<meta name="viewport"
content="width=device-width, initial-scale=1.0">
<link href="stylesheets/style.css" rel="stylesheet">
<link href="stylesheets/custom.css" rel="stylesheet">
<link href="http://spbooks.github.com/nodejs1/docs.css"
rel="stylesheet">
<script src="http://localhost:5000/socket.io/socket.io.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="http://code.highcharts.com/stock/highstock.js" type="text/javascript"></script>
<script src="/javascripts/custom.js"></script>
</head>
<body>
<h3>Traders on System</h3>
<div class='span12'><p><span id='client_count' class='label label-inverse'>0</span> Clients Connected</p></div>

<div class="container">
<div class="marketing"><h1>TradeMachine</h1>
<p class="marketing-byline">Welcome to the Node.js
Simulated Trading Environment</p>
<div class="row-fluid span12">

<div class="span3">
<h2>Trading Tools</h2>
<form>
<br><br>
    <label class='label'>CONTRACTS</label>
    <input type="text" name="contracts" id="contracts"></input>
    <label class='label'>PRICE</label>
    <input type="text" name="price" id="price"></input>
    <label>Select a Market to Trade</label>
    <select name="market" id="market">
        <% for(var i=0; i<data.length; i++) {%>
            <option val='<%= i%>'><%= data[i]%></option>
        <% } %>
    </select>
    <br>
    <h5>Enable Ladder Trading</h5>
    <input type="checkbox" name="oneclick" id="oneclick"></input>
    <br><br><br>
    <button class='btn btn-large btn-danger TRADE'>SELL</button>
<button class='btn btn-success btn-large TRADE'>BUY</button>
</form>

</div>

<% for(var i=0; i<data.length; i++) {%>
<div class="span3">

<h2><%= data[i]%></h2>
<table class='table table-bordered table-condensed' data-ind='<%= i%>'>
    <thead>
        <tr>
            <th>Volume</th>
            <th>Price</th>
            <th>Volume</th>
        </tr>
    </thead>
    <tbody class='<%= data[i]%>'>
        <tr>
            <td>Loading </td>
            <td>Market</td>
            <td>Data</td>
        </tr>
    </tbody>
</table>
</div>
<% } %>









</div>
</div>
<header class="jumbotron masthead">
<div class="inner">
<p class="download-info">

</p>
</div>
</header>

</div>

</body>
</html>